/*
 * Estilos de tu proyecto
 */
 *{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
   font-family: helvetica;
 }
 img{
   width: 30%;
   height: 30%;
 }
.cabecera{
  background-color: #2C3E50;
  height: 50px;
  color: white;
}
.verde01{
  background-color: #18BC9C;
  color: white;
}
.blanco01{
  background-color: #ffffff;
  color: #333333;
}
.download{
  background-color: #18BC9C;
  color: white;
}
.blanco02{
  background-color: #ffffff;
  color: #333333;
}
/*************************SECTION LOCATION*********************/
.location{
  background-color: #2C3E50;
  color: white;
  display: flex;
}
.local-01{
  background-color: red;
  width: 33.3%;
  padding: 70px 39.2px;
}
.local-02{
  background-color: green;
  width: 33.3%;
  padding: 70px 39.2px;
}
.local-02-01{
  display: flex;
  justify-content: space-between;
}
.local{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 1px solid red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: 3px;
}
.local-03{
  background-color: pink;
  width: 33.3%;
  padding: 70px 39.2px;
}
.colorGreen{
  color: #18BC9C;
}
/*************************FOOTER LISTO*************************/
footer{
  display: block;
  background-color: #233140;
  color: white;
  font-size: 12px;
  padding: 28px;
}
