/*
 * Estilos de tu proyecto
 */
 *{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
   font-family: helvetica;
 }
 /***********SECTION PORT - casi listo***********/
 .cabecera{
   background-color: #2C3E50;
   height: 100px;
   color: #ffffff;
   display: flex;
   flex-direction: row;
 }
 li{
   list-style: none;
 }
 .boton02{
   display: flex;
   padding: 10px;
   width: auto;
   height: 40px;
   flex-direction: row-reverse;
   background-color: #18BC9C;
   border: 2ps solid #ffffff;
   border-radius: 6px;
 }
 /***********SECTION PORT - casi listo***********/
 .starBo{
   padding: 70px;
   background-color: #18BC9C;
   color: #ffffff;
   font-size: 35px;
 }
 .prim{
   font-size: 15px;
 }
 /***********SECTION PORT - casi listo***********/
.port{
  padding: 70px 1px;
}
 img{
   width: 27%;
   height: 27%;
 }
/***********SECTION ABOUT - casi listo***********/
.about{
  padding: 70px 210px;
  background-color: #18BC9C;
  color: white;
}
.aboutColumn{
  padding: 20px;
  display: flex;
  justify-content: space-around;
  font-size: 22px;
  text-align: none;
}
.boton01{
  display: flex;
  width: 200px;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  background-color: #18BC9C;
  border: 2px solid #ffffff;
  border-radius: 6px;
  padding: 10px;
  color: #ffffff;
}
.boton01:hover{
  background-color: #ffffff;
}
/***********SECTION CONTACTO - casi listo***********/
.contacto{
  padding: 70px 210px;
  background-color: #ffffff;
  color: #333333;
}
.formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact{
  height: 63px;
  border: 1px solid #EEEEEE;
  border-left: none;
  border-right: none;
  color: #000000;
  font-size: 25px;
  color: #99A2BF;
  text-align: left;
  padding: 18px;
}
.contact-icon{
  display: flex;
  justify-content: center;
}
.sub{
  border: 2px solid #ffffff;
  border-radius: 9px;
  background-color: #18BC9C;
  font-size: 110%;
  color: #ffffff;
  width: 77px;
  height: 50px;
}
.sub:hover{
  background-color: #159281;
}
/***********SECTION LOCATION - casi listo***********/
.location{
  background-color: #2C3E50;
  color: white;
  display: flex;
}
.local-01{
  width: 33.3%;
  padding: 70px 39.2px;
}
.local-02{
  width: 33.3%;
  padding: 70px 39.2px;
}
.local-02-01{
  display: flex;
  justify-content: space-between;
}
.local{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition-property: font-size;
  transition-duration: 7s;
  transition-delay: 2s;
}
.local:hover {
  transition-duration: 7s;
  transition-delay: 2s;
  background-color: #ffffff;
  color: #18BC9C;
}
.local-03{
  width: 33.3%;
  padding: 70px 39.2px;
}
.colorGreen{
  color: #18BC9C;
}
/******************FOOTER - LISTO*****************/
footer{
  display: block;
  background-color: #233140;
  color: white;
  font-size: 13px;
  padding: 28px;
}
